body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.page-header{
    margin-bottom: 0px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.recipeCard{
    list-style: none;
    border:1px solid red;
}

.recipeCard.recipeImage{
    width:100%;
}

#showme{
    border:1px solid red;
}

.imageHeader{
    width:100%;
    height: 250px;
    max-height: 250px;
    background: #000;
}

.imageHeader > * {
    height: 250px;
}

.imageHeader > img {
    width: 100%;
}

form[name=newIngredientForm] input {
    width: 4em;
}

.container-fluid {
    padding: 0px;
}

.row{
    margin: 0px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}