<div>
    <h3 class="center">Notes</h3>
    <ul>
        <li ng-repeat="note in notes">
            <deleteable list="notes" index="$index">
                <span ng-bind="note.description"></span>
            </deleteable>
        </li>
    </ul>
    <form name="newNoteForm">
        <input type="text" ng-model="newNote.description" required />
        <button class="btn btn-primary" ng-click="addNote()" ng-disabled="newNoteForm.$invalid">
            (+) add note
        </button>
    </form>
</div>
