<div>
    <h3 class="center">Steps</h3>
    <ol>
        <li ng-repeat="step in steps">
            <deleteable list="steps" index="$index">
                <span ng-bind="step.description"></span>
            </deletable>
        </li>
    </ol>
    <form name="newStepForm">
        <input type="text" ng-model="newStep.description" required />
        <button class="btn btn-primary" ng-click="addStep()" ng-disabled="newStepForm.$invalid">
            (+) add step
        </button>
    </form>
</div>
