<div>
    <h3 class="center">Steps</h3>
    <ol>
        <li ng-repeat="step in steps track by $index">
            <span ng-show="step.description">{{step.description}}</span>
            <deleteable index="$index" list="steps"></deleteable>
        </li>
    </ol>
    <form name="newStepForm">
        <input type="text" ng-model="newStep.description" required />
        <button class="btn btn-primary" ng-click="addStep()" ng-disabled="newStepForm.$invalid">
            (+) add step
        </button>
    </form>
</div>
