<div>
    <h3 class="center">Ingredients</h3>
    <ul>
        <li ng-repeat="ingredient in ingredients">
            <button class="icon icon-remove" ng-click="remove($index)" ></button>
            <span ng-bind="ingredient.quantity" />
            <span ng-show="ingredient.unit">{{ingredient.unit}} of </span>
            <span ng-bind="ingredient.description" /><!-- This is bullshit
         --><span ng-show="ingredient.qualifier">, {{ingredient.qualifier}}</span>
        </li>
    </ul>
    <form name="newIngredientForm">
        <input type="text" ng-model="newIngredient.quantity" placeholder="1" required />
        <input type="text" ng-model="newIngredient.unit" placeholder="stick" required /> of
        <input type="text" ng-model="newIngredient.description" placeholder="butter" required />,
        <input type="text" ng-model="newIngredient.qualifier" placeholder="soft" />
        <button class="btn btn-primary" ng-click="addIngredient()" ng-disabled="newIngredientForm.$invalid">(+) add ingredient</button>
    </form>
</div>
