<div>
    <h3 class="center">Ingredients</h3>
    <ul>
        <li class="naked-list-item" ng-repeat="ingredient in ingredients track by $index" >
            <span ng-bind="ingredient.quantity"></span>
            <span ng-show="ingredient.unit">{{ingredient.unit}} of </span>
            <span ng-show="ingredient.description" >{{ingredient.description}},</span>
            <span ng-bind="ingredient.qualifier"></span>
            <deleteable index="$index" list="ingredients"></deleteable>
        </li>
    </ul>
    <form name="newIngredientForm">
        <input type="text" ng-model="newIngredient.quantity" placeholder="1" required />
        <input type="text" ng-model="newIngredient.unit" placeholder="stick" required /> of
        <input type="text" ng-model="newIngredient.description" placeholder="butter" required />,
        <input type="text" ng-model="newIngredient.qualifier" placeholder="soft" />
        <button class="btn btn-primary" ng-click="addIngredient()" ng-disabled="newIngredientForm.$invalid">
            (+) add ingredient
        </button>
    </form>
</div>
