<div>
    <div class="row-fluid imageHeader">
        <img src="{{recipe.imageUrl}}"/>
    </div>
    <button class="btn btn-success add-item-button" ng-click="add()">Save Recipe</button>
    <div class="row-fluid">
        <div class="span4">
            <cwa-ingredients ingredients="recipe.ingredients"></cwa-ingredients>
        </div>
        <div class="span5">
            <cwa-steps steps="recipe.steps" />
        </div>
        <div class="span3">
            <cwa-notes notes="recipe.notes" />
        </div>
    </div>
</div>